[Unit]
Description=Spotify Matrix Display Service
After=network.target raspap.service
Wants=network.target raspap.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/mever/spotify-matrix
Environment=PYTHONPATH=/home/mever/spotify-matrix
ExecStart=/home/mever/spotify-matrix/venv/bin/python main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 